{% set title = "관리자 리스트" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>

        {% for contact in contacts %}
        <tr>
            <td>
            <a href="/contacts/products/detail/{{contact.id}}">

            {{contact.name}}</a>
            </td>
            <td>
               {{contact.dateFormat(contact.createdAt)}}
            </td>
            <td>
                <a href="/contacts/products/delete/{{contact.id}}" class="btn btn-danger" onClick="return confirm('삭제할건가요?')">삭제</a>
            </td>
        </tr>
        {% endfor%}
    </table>

    <a href="/contacts/products/write" class="btn btn-default">작성하기</a>

{% endblock %}